//Hue settings
@red-hue: 5;
@brown-hue: 25;
@orange-hue: 38;
@yellow-hue: 58;
@lime-hue: 75;
@green-hue: 124;
@cyan-hue: 190;
@blue-hue: 216;
@purple-hue: 269;
@magenta-hue: 297;
@pink-hue: 321;

//UI
@ui-hue: @lime-hue;
@ui-saturation: 6%;
@ui-brightness: 14%;

//Text
@text-hue: @lime-hue;
@text-saturation: 6%;
@text-brightness: 85%;
